<style>
  button {
    background-color: rgb(90, 90, 90);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 8px;
    padding: 0.5%;
  }
  button:hover {
    background-color: rgb(117, 117, 117);;
  }
</style>

<p>Hi {{ first_name }},</p>
<br />
<p>Forgot your password?</p>
<p>We received a request to reset the password for your account.</p>
<br />
<p>To reset your password, click on the button below:</p>
<a href="{{reset_password_url}}">
  <button type="button">Reset password</button>
</a>
<br />
<p>Or copy and paste the URL below into your browser</p>
<p><a href="{{reset_password_url}}">{{reset_password_url}}</a></p>
<br />
<p>If you did not make this request then please ignore this email.</p>
<br />
<p>Warm regards,</p>
<p>Lammermoor Customer Service</p>
