$primary: #42032c;
$secondary: #d36b00;
$success: #377d71;
$info: #2a0944;
$danger: #dd4a48;
$warning: #fec260;
$light: #f1efdc;
$dark: #1c0a00;

$body-bg: $light;
$body-color: #1c0a00;
$text-muted: #603601;
$color-contrast-dark: $dark;
$color-contrast-light: $light;

$navbar-dark-color: #f1efdc;
$dropdown-header-color: $text-muted;
$dropdown-bg: $body-bg;

$card-bg: $body-bg;

$modal-content-bg: $body-bg;

$list-group-bg: $body-bg;
$list-group-active-bg: #e6d2aa;

$tooltip-bg: $dark;
