.no-wrap {
  flex-wrap: nowrap;
}

.btn-to-link {
  text-decoration: underline;
  --bs-btn-color: var(--bs-blue);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: var(--bs-teal);
  --bs-btn-hover-bg: transparent;
  --bs-btn-active-color: var(--bs-teal);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
}
