@import "./scss/config";
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "carringtonregular";
  src: url("./assets/fonts/carrington-webfont.woff2") format("woff2"),
    url("./assets/fonts/carrington-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

main {
  min-height: 95vh;
}

// custom properties
.no-wrap {
  flex-wrap: nowrap;
}

.btn-to-link {
  text-decoration: underline;
  --bs-btn-color: $link-color;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: shift-color($link-color, $link-shade-percentage);
  --bs-btn-hover-bg: transparent;
  --bs-btn-active-color: shift-color($link-color, $link-shade-percentage);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.btn-no-padding {
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
}

.small-txt {
  font-size: 0.75rem;
}

.brand-font {
  font-family: carringtonregular;
}
